.mdc-panel{
  padding-top: 0px;
}

.label-spacing{
  margin-right: 20px;
}

.right-pannel{
  display: flex;
  flex-direction: row-reverse;
}

.marginright-20{
  margin-right: 20px;
}

.grid-overflow-x{
  overflow-x: overlay;
}

.btn-width:disabled{
  background-color: #109AD6;
  border-color: #109AD6;
}

.btn-width{
  width: 135px;
}
