.mdc-panel {
  padding-top: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.select-fields:hover .select-fields:active {
  background: white;
  color: black;
}

.bgWhite {
  background-color: white;
}

.right-align {
  right: 25px
}