.mar-top-5 {
    margin-top: 0.5rem;
}

.logs-faults-date-width {
    width: auto;
}

.margin-left-4rem{
    margin-left: 1.5rem;
}

.mar-right-neg10{
    margin-right: -10px;
}


.date-search-item{
    margin-right: 1rem;
  }


