.device {
  height: 40px;
  width: 40px;
}

.count-progress-bar {
  width: 39px;
  height: 7px;
  border-radius: 6px;
}

.count-progress-bar-status {
  padding-top: 5px;
}

.battery {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 20px;
  flex-basis: 70px;
}

.device-status-count {
  margin-top: 20px;
}

.status-counts {
  color: white;
  padding-left: 12px;
}

.status-counts h4 {
  font-size: 32px;
  margin-top: 27px;
}

.small-progress-counts h4 {
  font-size: 32px;
}

.small-progress-bar {
  padding-left: 10px;
  margin-top: 3px;
}

.status-counts p {
  margin-top: 10px;
  font-size: 14px;
}

.large-progress-bar {
  border-radius: 16px;
  margin-top: 30px;
  height: 20px;
}

.dashboard-progress {
  margin-right: 2px;
  cursor: pointer;
}

.dashboard-progress:last-child {
  margin-right: 0px;
}

.content-align {
  justify-content: space-between;
}
